.rentblitz{
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}
.wish{
    color: rgb(255, 25, 0);
}
.user{
    color: rgb(255, 255, 255);
}
.logout{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 100px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    font-weight: 600;
}
.logout:hover{
    background-color: rgb(255, 119, 0);
    color: white;
}
.nnn{
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    margin-bottom:100px;
    padding: 10px;
    background-color: black;
}