.itemcard{
    width: 18rem;
    height: 24.5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-radius: 10px;
    transition: .2s ease-out;
    padding: 13px;

}
.itemcard img{
    width: 100%;
    height: 190px;
    border-radius: 10px;
   
}
.itemcard h4{
    font-weight: bold;
    font-family: 'Crimson Text', serif;
   margin-top: 10px;
}
.itemcard:hover{
    margin-top: -17px;
    background-color: white;
    transition: .2s ease-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        border: 0;
        scale: 1.02;
}
.dt{
    width: 170px;
    height: 35px;
    background-color: black;
    border-radius: 10px;
    border: 0;
    color: white;
}
.dt:hover{
    background-color: rgb(255, 132, 0);
}